---
layout: default
soundcloud: https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/250564223

---

<div class="home">

    <h2>Happenings</h2>
    <h4>Upcoming</h4>
    <ul>
        {% for event in site.data.events %}
            {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture posttime %}{{event.date | date: '%s'}}{% endcapture %}
            {% if posttime > nowunix %}
            <li>{{ event.date | date_to_long_string }} - <b> {{ event.title }} </b> {{ event.place }} {% if event.link %}<a href="{{ event.link }}">link</a></li>{% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <h4>Past</h4>
    <ul>
        {% for event in site.data.events %}
            {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture posttime %}{{event.date | date: '%s'}}{% endcapture %}
            {% if posttime < nowunix %}
            <li>{{ event.date | date_to_long_string }} - <b> {{ event.title }} </b> {{ event.place }} {% if event.link %}<a href="{{ event.link }}">link</a></li>{% endif %}
            {% else %}
            {% endif %}
        {% endfor %}
    </ul>

    </div>
